<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>CONTACT</title>
	<link rel="stylesheet" href="css/styles.css">
	<!--[if lt IE 9]>
	<script src="/mt-static/support/theme_static/rainier/js/html5shiv.js"></script>
	<![endif]-->
</head>
<body>
<main class="page-main page-other">
	<header class="page-header-other">
		<h1>お問い合わせ完了</h1>
	</header>

	<div class="container">
		<div class="other-container">
			<p>この度は、お問い合わせありがとうございました。<br>
				<b th:text="|${requestContact.name} 様|"></b>からのお問い合わせを受付けました。<br>
				内容を確認後に、ご返答させていただきます。<br>
				また、状況により、ご返答が数日、遅れてしまう場合がございますことをご了承ください。<br>
				今後ともどうぞよろしくお願いいたします。<br><br>
			</p>
			<div style="text-align: center;">
				<a href="contact" class="contact-button">TOPページへ戻る</a>
			</div>
		</div>
	</div>
</main>
</body>
</html>